*{
  margin: 0;
  font-family: Helvetica Nue, Helvetica, Arial, sans-serif;
}
.header{
  background-color: #3b5998;
  width: 100%;
  height: 85px;
}

.logo{
  width: 50%;
  padding-top: 30px;
  float: left;
  margin-left: 80px;
}

.login{
  width: 50px;
  float: left;
  margin-left: 100px;
  padding-top: 10px;
}

.logo-text{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 170px;
  }
  
  .login-label{
    color: #fff;
    font-size: 12px;
  }
  

  .forgot{
    text-decoration: none;
    color: #9cb4d8;
  }

  .login-btn{
    color: #fff;
    background: #4267b2;
    border-color: #29487d;
    height: 22px;
    cursor: pointer;
  }

  .login-btn:hover{
    background: darkblue;
  }